
body {
    background-image: url('../images/modal/modal.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn btn-primary {
    position: center;
}

모달
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 600px;
    padding: 40px;
    text-align: center;
    background-image: url('../images/modal/modal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}

/*.modal_wrap{*/
/*        display: none;*/
/*        width: 500px;*/
/*        height: 500px;*/
/*        position: absolute;*/
/*        top:50%;*/
/*        left: 50%;*/
/*        margin: -250px 0 0 -250px;*/
/*        background:#eee;*/
/*        z-index: 2;*/
/*    }*/
/*    .black_bg{*/
/*        display: none;*/
/*        position: absolute;*/
/*        content: "";*/
/*        width: 100%;*/
/*        height: 100%;*/
/*        background-image: url('../images/modal/modal.jpg');*/
/*        top:0;*/
/*        left: 0;*/
/*        z-index: 1;*/
/*    }*/
/*    .modal_close{*/
/*        width: 26px;*/
/*        height: 26px;*/
/*        position: absolute;*/
/*        top: -30px;*/
/*        right: 0;*/
/*    }*/
/*    .modal_close> a{*/
/*        display: block;*/
/*        width: 100%;*/
/*        height: 100%;*/
/*        text-indent: -9999px;*/
/*    }*/





/*.uploadmodal {*/
/*    border: 0px solid #dddfe2;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    max-width: 86%;*/
/*    margin: 0 auto;*/

/*}*/

/*.uploadmain {*/

/*    padding: 0;*/
/*    background-color: white;*/
/*    border: 3px solid #d5d5d5;*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*    margin-top: 0px;*/
/*    margin-bottom: 0px;*/
/*    border-top-left-radius: 7px;*/
/*    border-top-right-radius: 7px;*/
/*}*/

/*btn btn-danger btn-block {*/
/*    width: 100%;*/
/*    height: 80px;*/
/*    border-radius: 7px;*/
/*    background-color: #ff0000;*/
/*    border: 0px;*/
/*    color: #1e1c0b;*/
/*    font-weight: bold;*/
/*    font-size: 1.2em;*/

/*}*/

/*custom-file-input {*/
/*    width: 100%;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px*/
/*}*/