.main_body {
  width: 935px;
  height: 1600px;

  margin: 120px auto;

  background-color: #fff0f0;
  border: 1px solid #e8e8e8;
  box-shadow: 1px 1px 5px gray;
}

.main_body .row_upload_btn {
  margin-top: 30px;
  width: 100%;
  height: 100px;
}

.main_body .row_upload_btn .btn_box {
  width: 300px;
  height: 100%;

  margin: auto;
  padding: 10px;

  text-align: center;
  font-size: 15px;
  font-weight: bold;

  line-height: 150%;
}

.main_body .row_upload_btn .btn_box .btn_upload {
  margin: 5px auto 10px auto;
  padding: 10px;

  display: block;
}

.main_body .row_main_img {
  width: 100%;
  height: 30s0px;

  margin-top: 50px;

  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-around;
}

.main_body .row_main_img .main_img_box {
  width: 35%;
  height: 100%;

  text-align: center;

  font-weight: bold;
}

.main_body .row_main_img .main_img_box .main_img {
  width: 100%;
  height: 100%;

  border-radius: 20px;
  box-shadow: 1px 1px 5px gray;

  object-fit: cover;
}

.row_hero_info {
  width: 85%;
  height: auto;

  margin-top: 50px;
  padding: 0px 80px;

  line-height: 180%;
}

.row_hero_info .hero_name {
  width: 100%;
  height: 60px;

  font-size: 35px;
  font-weight: bold;
}

.row_hero_sub {
  width: 100%;
  height: 250px;

  margin-top: 50px;

  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-around;
}

.row_hero_sub .hero_sub_box {
  width: 35%;
  height: 100%;

  text-align: center;
  font-weight: bold;
}

.row_hero_sub .hero_sub_box .hero_sub_img {
  width: 100%;
  height: 100%;

  border-radius: 20px;
  box-shadow: 1px 1px 5px gray;

  object-fit: cover;

  cursor: pointer;
}

.row_histoty_btn {
  width: 100%;
  height: 100px;

  margin-top: 150px;
}

.row_histoty_btn .histroy_btn_box {
  width: 200px;
  height: 100%;
  margin: auto;
}

.row_histoty_btn .histroy_btn_box .history_btn {
  width: 100%;

  padding: 10px;
  display: block;
  margin: auto;
}
