<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="http://code.jquery.com/jquery-latest.js"
    ></script>

    <!--    google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />

    <!--css 파일 불러오기!-->
    <link href="../static/css/common.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/main.css" rel="stylesheet" type="text/css" />

    <!--js 파일 불러오기-->
    <script defer src="../static/js/common.js"></script>
    <script defer src="../static/js/main.js"></script>

    <!--파비콘 적용-->
    <link rel="shortcut icon" href="" />

    <title>My Little Hero</title>
    <script></script>
  </head>
  <body class="team_color">
    <!-- 해더 -->
    <div class="header">
      <div class="header_body">
        <a href="/"><img class="logo" src="../static/images/logo.png" /></a>
        <div class="user_info">
          <span style="font-weight: bold">김동우</span> <br />
          kimphysicsman@gmail.com <br />
          <button id="logout_btn" onclick="logout()">로그아웃</button>
        </div>
      </div>
    </div>

    <!-- 본문 -->
    <div class="main_body">
      <div class="row_upload_btn">
        <div class="btn_box">
          <button class="btn_upload" onclick="upload_user_img()">
            사진 업로드
          </button>
          ↑↑↑ 사진 업로드하기 ↑↑↑ <br />
          나와 닮은 마블 캐릭터를 찾아보세요!
        </div>
      </div>

      <div class="row_main_img">
        <div class="main_img_box">
          <img
            class="main_img"
            name="user"
            src="../static/images/user/001.jpg"
          />
          나의 사진
        </div>
        <div class="main_img_box">
          <img
            id="main_hero_img"
            class="main_img"
            name="hero"
            src="../static/images/hero/그루트.png"
          />
          닮은 꼴 마블 캐릭터
        </div>
      </div>

      <div class="row_hero_info">
        <div class="hero_name">1위 - <span id="main_hero">그루트</span></div>
        <div class="hero_desc">
          마블 코믹스에 등장하는 캐릭터로, 첫 등장은 Tales to Astonish #13으로
          60년대에 잭 커비, 스탠 리와 딕 에이어가 만들었다. 이름의 유래는
          나무그루터기 네덜란드어로 '크다'는 뜻의 groot(흐로트). 종족은 '플로라
          콜로수스'로, 지능이 있고 우주에서 온 나무 같이 생긴 생명체이다. 원래는
          실험을 위해 인간을 납치하러 지구를 침략하러 온 외계인이었다. 그러다
          21세기 들어서 고귀하고 영웅적인 캐릭터로 변하였으며, 울트론이 크리
          제국을 지배하면서 일어난 어나일레이션: 컨퀘스트를 거치면서 가디언즈
          오브 더 갤럭시의 멤버가 되었다. 그 중 로켓 라쿤과 절친이다. 말버릇은
          '나는 그루트다'. 예전에는 평범하게 말을 잘 했지만, 언제부턴가 '나는
          그루트다'라는 말만 한다. 동료들이 자신을 칭찬해줘서 고마워할 때도
          "나는 그루트다", 적과 싸울 때도 "나는 그루트다". 그런데 속으로는 엄청
          복잡한 생각을 하고 있는 것 같다. 가디언즈 오브 더 갤럭시 v3 #14를 보면
          웃음소리는 낼 줄 아는 것 같지만, 노래를 부를 때도 "나는 그루트다"라는
          말밖에 못한다. "나는 그루트, 그루트, 그루트다" 하는 식으로. 이런
          그루트와 대화할 수 있는 존재는 인휴먼스의 막시무스나 진 그레이 같은
          텔레파시 능력자밖에 없다.[1][2] 그러나 영화 가디언즈 오브 갤럭시에서는
          로켓 라쿤, 인피니티 워의 토르도 그루트의 말을 알아듣는다. MCU에서는
          그루트의 언어가 아예 하나의 과목이 있을 정도란다. groot체 참조. 나무를
          식량처럼 흡수해 힘을 강화시키거나 몸을 재생할 수 있는 능력이 있다.
          불에도 내성을 지니고 있으며, 몸이 산산조각 나더라도 나뭇가지 하나만
          있으면 물을 뿌려 다시 부활시킬 수 있다.
        </div>
      </div>

      <div class="row_hero_sub">
        <div class="hero_sub_box">
          <img
            id="sub_hero_img_1"
            class="hero_sub_img"
            onclick="change_main_hero('1')"
            src="../static/images/hero/토르.png"
          />
          2위 - <span id="sub_hero_1">토르</span>
        </div>
        <div class="hero_sub_box">
          <img
            id="sub_hero_img_2"
            class="hero_sub_img"
            onclick="change_main_hero('2')"
            src="../static/images/hero/헐크.png"
          />
          3위 - <span id="sub_hero_2">헐크</span>
        </div>
      </div>

      <div class="row_histoty_btn">
        <div class="histroy_btn_box">
          <a href=""><button class="history_btn">히스토리 보러가기</button> </a>
        </div>
      </div>
    </div>
  </body>
</html>
