<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="http://code.jquery.com/jquery-latest.js"
    ></script>

    <!--    google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />

    <!--css 파일 불러오기!-->
    <link href="../static/css/common.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/main.css" rel="stylesheet" type="text/css" />


    <!--js 파일 불러오기-->
    <script defer src="../static/js/common.js"></script>
    <script defer src="../static/js/main.js"></script>

    <!--파비콘 적용-->
    <link rel="shortcut icon" href="" />

    <title>My Little Hero</title>
    <script></script>
  </head>
  <body class="team_color">
    <!-- 해더 -->
    <div class="header">
      <div class="header_body">
        <a href="/"><img class="logo" src="../static/images/logo.png" /></a>
        <div class="user_info">
          <span style="font-weight: bold" id="user_name">김동우</span> <br />
          <span id="user_email">kimphysicsman@gmail.com</span> <br />
          <button id="logout_btn" onclick="logout()">로그아웃</button>
        </div>
      </div>
    </div>

    <!-- 본문 -->
    <div class="main_body">
      <div class="row_upload_btn" id="select_view">
        <div class="btn_box">
          <button class="btn_upload" onclick="upload_img_modal()">
            사진 업로드
          </button>
          ↑↑↑ 사진 업로드하기 ↑↑↑ <br />
          나와 닮은 마블 캐릭터를 찾아보세요!
        </div>
      </div>

      <div id="result_view">
        <div class="row_main_img">
          <div class="main_img_box">
            <img
              class="main_img"
              name="user"
              src="../static/images/user/001.jpg"
            />
            나의 사진
          </div>
          <div class="main_img_box">
            <img id="main_hero_img" class="main_img" name="hero" src="" />
            닮은 꼴 마블 캐릭터
          </div>
        </div>

        <div class="row_hero_info">
          <div class="hero_name" id="main_hero" name=""></div>
          <div class="hero_desc" id="main_desc"></div>

          <div class="row_hero_sub">
            <div class="hero_sub_box" name="2">
              <img
                name=""
                class="hero_sub_img"
                onclick="change_main_hero(event, 2)"
                src=""
              />
              <div></div>
            </div>
            <div class="hero_sub_box" name="3">
              <img
                name=""
                class="hero_sub_img"
                onclick="change_main_hero(event, 3)"
                src=""
              />
              <div></div>
            </div>
          </div>

          <div class="row_histoty_btn">
            <div class="histroy_btn_box">
              <button class="history_btn" onclick="restart_upload()">
                다시 하기
              </button>
              <button class="history_btn">히스토리 보러가기</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 이미지 업로드 모달창-->
    <div class="img_modal_box">
      <div class="img_modal_input neonbutton" >

        <input
          type="file"
          id="modal_input_img"
          accept="image/*"
          onchange="preview(event);"
        />
        <div class="neonbutton" id="image_container">
          <img id="image_file" src="" />
        </div>
        <div style="margin-top:300px">
        <button onclick="upload_user_img()">업로드 하기</button>
        </div>
      </div>
    </div>
  </body>
</html>
